a.back{
    text-decoration: none;
}

a span{
    font-weight: 500;    
    font-size: 15px;
    color: #3f51b5;
    
}

div.navigation{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1rem;
}